Repository jereoo/DeliveryAppBackend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix CI/CD pipeline test failures by configuring pytest Django settings
  conftest.py
Due: none

CIO Directive Implementation: Remove deprecated Driver.name field
  BUILD_INFO.md
  Customer_CRUD_Documentation.html
  Customer_CRUD_Documentation.md
  DeliveryAppBackend/urls.py
  delivery/admin.py
  delivery/migrations/0003_remove_deprecated_name_column_cio_directive.py
  delivery/models.py
  delivery/serializers.py
  delivery/views.py
  start-fullstack.bat
  tests/test_api.py
  tests/test_models.py
Due: prettier --write

CIO Directive Compliance: Exclude coverage reports from version control
  .gitignore
Due: none

Documentation: Add comprehensive January 2026 project status summary
  PROJECT_STATUS_SUMMARY_JANUARY_2026.md
Due: prettier --write

Add visible labels to Add Customer form fields for improved usability - CIO directive completed
  App.tsx
Due: eslint --fix, prettier --write

CIO BACKUP: Backend baseline before tunnel-only mode (public Wi-Fi fix)
  start-fullstack.bat.bak20260201.bat
Due: none

LAN-only: ALLOWED_HOSTS for mobile; driver/customer phone 10-digit validation; Driver user read_only
  DeliveryAppBackend/settings.py
  delivery/serializers.py
  start-fullstack - 20260228.bat
  start-fullstack.bat
  start-fullstack.bat.backup-20260303
  start-fullstack20260305.bat
  start-fullstack20260305.ps1
Due: none

Heroku deploy: add Procfile, runtime.txt, .python-version, fix requirements.txt
  .python-version
  Procfile
  requirements.txt
  runtime.txt
Due: none

CIO BACKUP: Before first-time Heroku connection
  .github/workflows/phase1-ci.yml
  delivery/__pycache__/serializers.cpython-313.pyc
Due: none

Add googlemaps, usaddress, pycountry for address_validation
  requirements.txt
Due: none

Add ensure_admin management command for Heroku bootstrap
  delivery/management/commands/ensure_admin.py
Due: none

docs: note dedicated DeliveryAppMobile repo and canonical main branch
  project-docs/README.md
Due: prettier --write

fix: align create_test_data drivers/vehicles with User-linked Driver model
  delivery/management/commands/create_test_data.py
Due: none

feat: env-based Heroku admin bootstrap and Phase 1 close-out
  .env.example
  .python-version
  delivery/management/commands/ensure_admin.py
  docs/ADMIN_BOOTSTRAP.md
  runtime.txt
  scripts/apply-heroku-admin-password.ps1
  scripts/production-smoke-test.ps1
  tests/test-api-endpoints.ps1
  tests/test-api-localhost-8081.ps1
  tests/test-api-localhost.ps1
  tests/test-split-fields.ps1
Due: prettier --write

feat: driver self-service /drivers/me and /drivers/me/vehicle endpoints
  delivery/driver_utils.py
  delivery/serializers.py
  delivery/views.py
  tests/test_api.py
Due: none

feat: vehicle inactive/reactivate lifecycle API
  delivery/vehicle_utils.py
  delivery/views.py
  tests/test_api.py
Due: none

test: extend production smoke for vehicle lifecycle routes
  scripts/production-smoke-test.ps1
Due: none

fix: allow driver PATCH to mark vehicle inactive and persist active status
  delivery/driver_utils.py
  delivery/serializers.py
  delivery/views.py
  tests/test_api.py
Due: none

fix: reactivate vehicle reopens driver assignment
  delivery/vehicle_utils.py
  tests/test_api.py
Due: none

feat: Phase 2 validation messages, auth logging, and CI critical tests
  .github/workflows/phase1-ci.yml
  DeliveryAppBackend/settings.py
  delivery/auth_logging.py
  delivery/middleware.py
  delivery/registration_messages.py
  delivery/serializers.py
  delivery/urls.py
  delivery/views.py
  delivery/views_auth.py
  docs/OBSERVABILITY.md
  docs/ROLLBACK.md
  tests/test_api.py
  tests/test_auth_logging.py
  tests/test_driver_vehicle_crud.py
  tests/test_registration_validation.py
Due: prettier --write

fix: enforce unit-specific vehicle capacity limits (2000 kg / 4400 lb)
  delivery/serializers.py
  delivery/vehicle_constants.py
  delivery/views.py
  tests/test_driver_vehicle_crud.py
Due: none

refactor: centralize vehicle updates with role-based authorization
  delivery/vehicle_update.py
  delivery/views.py
  tests/test_driver_vehicle_crud.py
Due: none

docs: add architecture reference and Cursor layered-architecture rule
  .cursor/rules/layered-architecture.mdc
  docs/ARCHITECTURE.md
Due: prettier --write

docs: add deferred v2 commercial fleet Cursor rule (Phase 5)
  .cursor/rules/v2-commercial-fleet.mdc
Due: none

docs: add PR template aligned with DeliveryApp development process
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Close Phase 2/3; add Phase 4A compliance API and demo seed
  .github/workflows/phase1-ci.yml
  delivery/admin.py
  delivery/compliance_constants.py
  delivery/compliance_permissions.py
  delivery/compliance_service.py
  delivery/management/commands/load_test_data.py
  delivery/management/commands/seed_demo_data.py
  delivery/migrations/0004_legal_document_phase_4a.py
  delivery/models.py
  delivery/seed_demo.py
  delivery/serializers.py
  delivery/urls.py
  delivery/views.py
  docs/COMPLIANCE.md
  docs/SEED_DATA.md
  docs/STAGING.md
  tests/test_api.py
  tests/test_compliance.py
  tests/test_seed_demo_data.py
Due: prettier --write

Phase 3: retire legacy CI workflow, add CI docs
  .github/workflows/ci-cd.yml
  delivery/__pycache__/admin.cpython-313.pyc
  delivery/__pycache__/models.cpython-313.pyc
  delivery/__pycache__/serializers.cpython-313.pyc
  delivery/__pycache__/urls.cpython-313.pyc
  delivery/__pycache__/views.cpython-313.pyc
  docs/CI.md
  docs/ROLLBACK.md
Due: prettier --write

Phase 3: fix legacy tests for full CI suite green
  address_validation/tests.py
  scripts/manual_backend_dev_check.py
  tests/test_api.py
  tests/test_backend.py
  tests/test_cio_directive_fix.py
  tests/test_models.py
  tests/test_validation.py
Due: none

Phase 3: remove root dev script from Django test discovery
  test_backend_development.py
Due: none

Phase 3: add responses dep for address integration tests in CI
  requirements.txt
Due: none

Phase 4A #4.2: S3 presigned upload and download service for compliance PDFs.
  delivery/compliance_service.py
  delivery/compliance_storage.py
  delivery/serializers.py
  delivery/views.py
  docs/COMPLIANCE.md
  requirements.txt
  tests/test_compliance.py
Due: prettier --write

Phase 4A #4.3: wire GET /api/documents/{id}/download/ presigned URL endpoint.
  delivery/views.py
  docs/COMPLIANCE.md
  tests/test_compliance.py
Due: prettier --write

Add S3 bucket smoke test command and optional integration tests.
  delivery/management/commands/test_s3_storage.py
  delivery/s3_smoke.py
  docs/S3_SMOKE_TEST.md
  tests/test_s3_integration.py
  tests/test_s3_smoke.py
Due: prettier --write

Fix AWS region parsing when Heroku env uses console label text.
  delivery/compliance_storage.py
  docs/S3_SMOKE_TEST.md
  tests/test_s3_smoke.py
Due: prettier --write

Fix web PDF upload: proxy upload via POST /documents/upload/ to S3.
  DeliveryAppBackend/settings.py
  delivery/compliance_service.py
  delivery/compliance_storage.py
  delivery/views.py
  tests/test_compliance.py
Due: none

Docs: document POST /documents/upload/ for web PDF compliance uploads.
  docs/COMPLIANCE.md
Due: prettier --write

Phase 4B: expiry job and vehicle reactivation compliance gates.
  delivery/compliance_service.py
  delivery/management/commands/expire_compliance_documents.py
  delivery/vehicle_utils.py
  delivery/views.py
  tests/test_api.py
  tests/test_compliance.py
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
